<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.team2409.model.mapper.TblPurchaseHistoryMapper">

	<insert id="insert" useGeneratedKeys="true">
	 
	 INSERT INTO tbl_purchase_history
            (user_id, product_id, product_count, price, destination_id)
        SELECT 
            cart.user_id, cart.product_id, cart.product_count,product.price, #{destinationId}
        FROM
            tbl_cart cart
        JOIN
            mst_product product
        ON
            cart.product_id = product.id
        WHERE
            cart.user_id = #{userId};

	</insert>
	
	<select id="findByUserId" resultType="jp.co.internous.team2409.model.domain.dto.PurchaseHistoryDto">
	
		SELECT * FROM tbl_purchase_history
		INNER JOIN mst_product ON tbl_purchase_history.product_id = mst_product.id
		INNER JOIN mst_destination ON tbl_purchase_history.destination_id = mst_destination.id
		WHERE tbl_purchase_history.user_id = #{userId} AND tbl_purchase_history.status = 1
		ORDER BY tbl_purchase_history.updated_at DESC, tbl_purchase_history.created_at DESC;
</select>
	
</mapper>